<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Latte-v</title>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'index.css' %>
  <% end %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div id="global-container">
        <div id="container">
          <div class="mobile-menu__cover"></div>
          
            <header class="header-menu">
               <div class="header_left">
               <a class ="app-title" href="#"></a>
               </div>
               <div class="header-right">
                  <div class="header-link">
                  <% if user_signed_in? %>
                          <%= link_to destroy_user_session_path, method: :delete do %>
                          <span>Log Out</span>
                          <% end %>
                          <%= link_to user_path(current_user)   do %>
                          <span>My Page</span>
                          <% end %>
                    <% else %>
                        <%= link_to   new_user_session_path do %>
                          <span>Log In</span>
                          <% end %>
                          <%= link_to  new_user_registration_path do %>
                          <span>Sign Up</span>
                          <% end %>
                   <% end %>   
                  </div>
                
                  <button class="mobile-menu__btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
              </div>
            </header>
            <div class="top-wrapper">
               <div class="top-title">
                 <p class="main-title_top">From <br> Imagination <br> To <br> Creation</p>
                 <p class="sub-title_top">想像から創造へ</p>
               </div>
                <div class="top-img">
                
                </div>
            </div>
            <div class ="about-us">
                  <div class="us-img"></div>
                <div class = us-title>
                     <p class="us-top">About us</p>
                    <div class = "us-text">
                      <h1 class = "us-main">初めまして！</p>
                      <p class = "us-sub">私たちは、ラテアートに魅了され<br>『もっと多くの人に知ってもらいたい』『レベルの高いラテアートに挑戦したい！』<br> そういった人達のお手伝いができればと思い、このアプリケーションを作りました。<br><br>みんなでもっとお客様の喜ぶラテアートを <br> そしてなによりみんなが上手くなれるように応援しています。</p>
                    </div>
                </div>
            </div>
              <div class = "best-tweet">
                <div class = "best-text">
                　<p class="best-title">Best Tweet</p>
                  <p class = "best-sub">人気の投稿</p>
                </div>
                <div>
                  <ul class = "list-ul">
                    <% @tweet.each do |tweet| %>
                        <li class="list-li">
                          <div class="li-all">
                            <div class="test-img">
                                <% if  tweet.images %>
                                  <% unless tweet.images[0].content_type.include?('image/') %>
                                  <video src= "<%= rails_blob_path(tweet.images[0]) %>" type='video/mp4' controls disablepictureinpicture controlslist="nodownload"></video>
                                <% else %>
                                  <%= link_to tweet.images[0], "data-lightbox" => tweet.images[0] do %> 
                                  <%= image_tag tweet.images[0],class:"img-tag", height: '250', :style=>"width:300;"%> 
                                  <% end %>
                                <% end %>
                                <% end %>
                            </div>
                              <div class="list-name">
                                <%= link_to user_path(tweet.user_id) do%>
                                <%= tweet.user.name %>
                                <% end %>
                                <span class="name-sub">さんの投稿</span> 
                              </div>
                              <div class="list-time">
                                <%= tweet.created_at.strftime('%C%y-%m-%d ') %>
                              </div>
                              <div class="list-title">
                                <%= link_to tweet_path(tweet.id) do%>
                                <%= tweet.title %>
                                <% end %>
                              </div>
                          </div>
                        </li>
                     <% end  %>
                    </ul>
                  </div>
                    <%= link_to best_tweets_path ,class:"more-btn" do%>
                     <p class="more-label">もっと見る</p>
                    <% end %>
                    
              </div>
              <div class="tweet-list">
                <div class="list-text">
                  <p class="list-title">Latest Tweet</p>
                  <p class = "list-sub">最新の投稿</p>
                </div>
                  
                  <ul class = "list-ul">
                    <% @tweets.each do |tweet| %>
                      <li class="list-li">
                                <div class="test-img">
                                    <% if  tweet.images %>
                                      <% unless tweet.images[0].content_type.include?('image/') %>
                                      <video src= "<%= rails_blob_path(tweet.images[0]) %>" type='video/mp4' controls disablepictureinpicture controlslist="nodownload"></video>
                                    <% else %>
                                      <%= link_to tweet.images[0], "data-lightbox" => tweet.images[0] do %> 
                                      <%= image_tag tweet.images[0],class:"img-tag", height: '250', :style=>"width:300;"%> 
                                      <% end %>
                                    <% end %>
                                    <% end %>
                                </div>
                                <div class="list-name">
                                    <%= link_to user_path(tweet.user_id) do%>
                                    <%= tweet.user.name %>
                                    <% end %>
                                    <span class="name-sub">さんの投稿</span> 
                                </div>
                                <div class="list-time">
                                  <%= tweet.created_at.strftime('%C%y-%m-%d ') %>
                                </div>
                                <div class="list-title">
                                  <%= link_to tweet_path(tweet.id) do%>
                                  <%= tweet.title %>
                                  <% end %>
                                </div>
                            
                        </li>
                     <% end  %>
                    </ul>
                  
                    
                    <%= link_to list_tweets_path ,class:"more-btn" do%>
                     <p class="more-label">もっと見る</p>
                    <% end %>
                 
                    
              </div>
        </div>
      <div>
        <nav class="mobile-menu">
            <ul class="mobile-menu__main">
               <% if user_signed_in? %>
                  <li class="mobile-menu__item">
                      <%= link_to user_path(current_user.id), class:"link-dec" do%>
                          <span class="main-title">My Page</span>
                          <span class="sub-title">マイページ</span>
                      <% end %>
                  </li>
                 <% else %> 
                 <li class="mobile-menu__item">
                      <%= link_to root_path, class:"link-dec" do%>
                          <span class="main-title">Top Page</span>
                          <span class="sub-title">トップページ</span>
                      <% end %>
                  </li>
                <% end %>
                <li class="mobile-menu__item">
                     <%= link_to best_tweets_path, class:"link-dec" do%>
                        <span class="main-title">BestTweet</span>
                        <span class="sub-title">人気の投稿</span>
                     <% end %>
                </li>
                <li class="mobile-menu__item">
                    <%= link_to list_tweets_path, class:"link-dec" do%>
                        <span class="main-title">Latest Tweet</span>
                        <span class="sub-title">最新の投稿</span>
                    <% end %>
                </li>
                <% if user_signed_in?  %> 
                <li class="mobile-menu__item">
                    <%= link_to new_tweet_path, class:"link-dec" do%>
                      <span class="main-title">New Post</span>
                      <span class="sub-title">新規投稿</span>
                    <% end %>
                </li>
                 <% end %>
            </ul>
          </nav>
      </div>
  </div>
  <%= javascript_pack_tag 'main.js' %>
</body>
</html>