<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <% content_for :css do %>
    <%= stylesheet_link_tag 'list.css' %>
  <% end %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <div id="global-container">
        <div id="container">
          <div class="mobile-menu__cover"></div>
          
            <header class="header-menu">
               <div class="header_left">
                 <%=link_to root_path,class:"app-title" do%>
                  <% end %>
               </div>
               <div class="header-right">
                  <div class="header-link">
                      <%= link_to  new_tweet_path do %>
                      <span>log in</span>
                      <% end %>
                      <%= link_to  new_user_registration_path do %>
                      <span>log in</span>
                      <% end %>
                  </div>
                
                  <button class="mobile-menu__btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
              </div>
            </header>
            <div class="top-wrapper">
              <span class="main-list-title">Latest Tweet</span>
              <span class="sub-list-title">最新の投稿</span>
              <div class="search-form">
                <%= form_with  url:search_tweets_path, class:"search-group",method: :get, local: true do |f| %>
                <%= f.text_field  :search,type: "text", class:"search-field",placeholder: "キーワードを入力",autocomplete:"off" %>
                <%= f.label "検索" ,for:"submit_btn",class:"btn_label" do%>
                <i class="fas fa-search"></i>
                <% end %>
                
                <%= f.submit 'Search',class:"search-btn",id:"submit_btn" %>
                <% end %>
              </div>
               <ul class="list-ul">
                    <% @tweets.each do |tweet| %>
                       <li class="list-li">
                        <div class="test-img">
                            <% if  tweet.images %>
                              <% unless tweet.images[0].content_type.include?('image/') %>
                              <video src= "<%= rails_blob_path(tweet.images[0]) %>" type='video/mp4'controls disablepictureinpicture controlslist="nodownload"></video>
                            <% else %>
                              <%= link_to tweet.images[0], "data-lightbox" => tweet.images[0] do %> 
                              <%= image_tag tweet.images[0],class:"img-tag"%> 
                              <% end %>
                            <% end %>
                            <% end %>
                         
                        </div>
                            <div class="list-name">
                              <%= link_to user_path(tweet.user_id) do%>
                              <%= tweet.user.name %>
                              <% end %>
                              <span class="name-sub">さんの投稿</span> 
                            </div>
                            <div class="list-time">
                               <%= tweet.created_at.strftime('%C%y-%m-%d ') %>
                            </div>
                            <div class="list-title">
                              <%= link_to tweet_path(tweet.id) do%>
                              <%= tweet.title %>
                              <% end %>
                            </div>
          
                          
                        <%# <%= image_tag(tweet.images[0], width:150,height:150) %>
          
                     <% end  %>
                      </li>
                 <%= will_paginate @tweets, :previous_label => ' &lt Back', :next_label => 'Next &gt' %>
                 </ul>
            </div>
        </div>
      <div>
        <nav class="mobile-menu">
            <ul class="mobile-menu__main">
                <% if user_signed_in? %>
                  <li class="mobile-menu__item">
                      <%= link_to user_path(current_user.id), class:"link-dec" do%>
                          <span class="main-title">My Page</span>
                          <span class="sub-title">マイページ</span>
                      <% end %>
                  </li>
                 <% else %> 
                 <li class="mobile-menu__item">
                      <%= link_to root_path, class:"link-dec" do%>
                          <span class="main-title">Top Page</span>
                          <span class="sub-title">トップページ</span>
                      <% end %>
                  </li>
                <% end %>
                <li class="mobile-menu__item">
                     <%= link_to best_tweets_path, class:"link-dec" do%>
                        <span class="main-title">BestTweet</span>
                        <span class="sub-title">人気の投稿</span>
                     <% end %>
                </li>
                <li class="mobile-menu__item">
                    <%= link_to list_tweets_path, class:"link-dec" do%>
                        <span class="main-title">Latest Tweet</span>
                        <span class="sub-title">最新の投稿</span>
                    <% end %>
                </li>
                <% if user_signed_in? %>
                <li class="mobile-menu__item">
                    <%= link_to new_tweet_path, class:"link-dec" do%>
                      <span class="main-title">New Post</span>
                      <span class="sub-title">新規投稿</span>
                    <% end %>
                 </li>
                 <% end %>
            </ul>
          </nav>
      </div>
  </div>
  <%= javascript_pack_tag 'main.js' %>

</body>
</html>