<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'new.css' %>
  <% end %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <div id="global-container">
       <div id="container">
          <div class="mobile-menu__cover"></div>
          
            <header class="header-menu">
               <div class="header_left">
                  <%=link_to root_path,class:"app-title" do%>
                  <% end %>
               </div>
               <div class="header-right">
                  <div class="header-link">
                      <a href="#">sign up</a>
                      <a href="#">log in</a>
                  </div>
                
                  <button class="mobile-menu__btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
               </div>
            </header>
          <div class="top-wrapper">
          　<span class="main-list-title">New Post</span>
              <span class="sub-list-title">新規投稿</span>
            <div class ="form-post">
                <%= form_with model: @tweet, class: "form_all" ,local: true do |f| %>
                  <div class="left-form">
                      <div class = "form-title">
                            <%= f.label :title,class:"title-label" do%>
                              <span class="main-title-label">Title</span>
                              <span class="sub-title-label">タイトル</span>
                            <% end %>
                            <%= f.text_field :title ,class: "title-area" ,autocomplete:"off",placeholder:"20文字以内" %>
                      </div>
                      <div class = "form-img">
                        <%= f.label :images,class:"img-label" do%>
                          <span class="main-img-title">Images</span>
                          <span class="sub-img-title">画像・動画 (Up to 4files)</span>
                        <% end %>
                        <%= f.file_field :images,class:"img-area", multiple: true %>
                      </div>
                      <div class = "form-submit">
                        <%= f.label "投稿する",for:"submit-btn",class:"btn-label" %> 
                        <%= f.submit class:"submit-area",id:"submit-btn" %>
                      </div>
                  </div>
                  <div class = "form-right">
                        <%= f.label :text,class:"text-label" do%>
                         <span class="main-text-title">Text</span>
                         <span class= "sub-text-title">テキスト</span>
                         <% end %>
                        <%= f.text_area :text, class:"text-area",autocomplete:"off" %>
                  
                  </div>
                <% end %>
              </div> 
           </div>    
      </div>     
           <div>
              <nav class="mobile-menu">
                <ul class="mobile-menu__main">
                   <% if user_signed_in? %>
                        <li class="mobile-menu__item">
                            <%= link_to user_path(current_user.id), class:"link-dec" do%>
                                <span class="main-title">My Page</span>
                                <span class="sub-title">マイページ</span>
                            <% end %>
                        </li>
                 　　　　<% else %> 
                          <li class="mobile-menu__item">
                                <%= link_to root_path, class:"link-dec" do%>
                                    <span class="main-title">Top Page</span>
                                    <span class="sub-title">トップページ</span>
                              <% end %>
                          </li>
                        <% end %>
                <li class="mobile-menu__item">
                     <%= link_to best_tweets_path, class:"link-dec" do%>
                        <span class="main-title">BestTweet</span>
                        <span class="sub-title">人気の投稿</span>
                     <% end %>
                </li>
                <li class="mobile-menu__item">
                    <%= link_to list_tweets_path, class:"link-dec" do%>
                        <span class="main-title">Latest Tweet</span>
                        <span class="sub-title">最新の投稿</span>
                    <% end %>
                </li>
              <% if user_signed_in?  %> 
                <li class="mobile-menu__item">
                    <%= link_to new_tweet_path, class:"link-dec" do%>
                      <span class="main-title">New Post</span>
                      <span class="sub-title">新規投稿</span>
                    <% end %>
                </li>
                 <% end %>
                  </ul>
                </nav>
            </div>
   
  </div>
  <%= javascript_pack_tag 'main.js' %>
</body> 

</html>