<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <% content_for :css do %>
    <%= stylesheet_link_tag 'chat_show.css' %>
  <% end %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <div id="global-container">
       <div id="container">
          <div class="mobile-menu__cover"></div>
          
            <header class="header-menu">
               <div class="header_left">
                  <%=link_to root_path,class:"app-title" do%>
                  <% end %>
               </div>
               <div class="header-right">
                  <div class="header-link">
                          <%= link_to destroy_user_session_path, method: :delete do %>
                          <span>Log Out</span>
                          <% end %>
                          <%= link_to root_path   do %>
                          <span>Top Page</span>
                          <% end %>
                      
                  </div>
                
                  <button class="mobile-menu__btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
               </div>
            </header>
          <div class="top-wrapper">
          　<span class="main-list-title">Chat Page</span>
            <h2 id="room" class="sub-list-title" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h2>
            
            <div class="chat-area">
                      

                      <div class="message-area">
                          <div class="chat-user_name">
                            <span class ="user-name1"><%= "#{current_user.name}さん"%></span>
                            <span class="user-name2"><%= "#{@user.name}さん" %></span>
                          </div>
                          <div class="message"></div>
                        <% @chats.each do |chat| %>
                          <% if chat.user_id == current_user.id%> 
                          <div class="i-chat-area">
                              　<% if chat.message != "" %>
                                    <div class="i-chat-tweet">
                                      
                                      <p class="i-chat-text"><%=  safe_join(chat.message.split("\n"),tag(:br)) %></p>
                                      <p class="i-chat-time" ><%= chat.created_at.strftime('%C%y-%m-%d %k:%M') %></p>
                                    </div>
                              <% end %>
                              <% if  chat.image.attached? %>
                                  <div class="i-chat-image">
                                        <% unless chat.image.content_type.include?('image/') %>
                                            <video src= "<%= rails_blob_path(chat.image) %>" type='video/mp4' class="y-image" controls disablepictureinpicture="false" controlslist="nodownload"></video>
                                            <p class="i-chat-time" ><%= chat.image.created_at.strftime('%C%y-%m-%d %k:%M') %></p>
                                          <% else %>
                                            <%= link_to chat.image ,"data-lightbox" => chat.image do %> 
                                            <%= image_tag chat.image,class:"y-image", height: '250', :style=>"width:300;"%> 
                                            <% end %>
                                            <p class="i-chat-time" ><%= chat.image.created_at.strftime('%C%y-%m-%d %k:%M') %></p>
                                        <% end %>
                                    
                                  </div>
                              <% end %>
                          </div>
                          <% else %>
                            <div class="y-chat-area" >
                                <% if chat.message != "" %>
                                      <div class="y-chat-tweet">
                                        <p class="y-chat-text" ><%=  safe_join(chat.message.split("\n"),tag(:br))%></p>
                                        <p class="y-chat-time" ><%= chat.created_at.strftime('%C%y-%m-%d %k:%M') %></p>
                                     </div>
                                  <% end %>
                                <% if  chat.image.attached? %>
                                  <div class="y-chat-image">
                                        <% unless chat.image.content_type.include?('image/') %>
                                            <video src= "<%= rails_blob_path(chat.image) %>" type='video/mp4' class="y-image" controls disablepictureinpicture="false" controlslist="nodownload"></video>
                                            <p class="i-chat-time" ><%= chat.image.created_at.strftime('%C%y-%m-%d %k:%M') %></p>
                                          <% else %>
                                            <%= link_to chat.image ,"data-lightbox" => chat.image do %> 
                                            <%= image_tag chat.image,class:"y-image", height: '250', :style=>"width:300;"%> 
                                            <% end %>
                                            <p class="i-chat-time" ><%= chat.image.created_at.strftime('%C%y-%m-%d %k:%M') %></p>
                                        <% end %>
                                  </div>
                                <% end %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>

                      <%= form_with model: @chat,class:"form-area" do |f| %>
                        <%= f.text_field :message,class:"message-form",placeholder:"メッセージを入力してください" %>
                        <%= f.hidden_field :room_id %>
                        <div class="img-form">
                            <%= f.label "検索" ,for:"img-btn",class:"img-label" do%>
                                <i class="far fa-images"></i>
                            <% end %>
                            <%= f.file_field :image,class:"message-img" ,id:"img-btn" %>   
                        </div>
                        <%= f.label "検索" ,for:"submit_btn",class:"btn_label" do%>
                           <i class="fas fa-paper-plane"></i>
                          <% end %>
                          
                          <%= f.submit 'Search',class:"pen-btn",id:"submit_btn" %>
                      <% end %>
                  
              </div>
           </div>    
      </div>     
           <div>
              <nav class="mobile-menu">
                <ul class="mobile-menu__main">
                   <% if user_signed_in? %>
                        <li class="mobile-menu__item">
                            <%= link_to user_path(current_user.id), class:"link-dec" do%>
                                <span class="main-title">My Page</span>
                                <span class="sub-title">マイページ</span>
                            <% end %>
                        </li>
                 　　　　<% else %> 
                          <li class="mobile-menu__item">
                                <%= link_to root_path, class:"link-dec" do%>
                                    <span class="main-title">Top Page</span>
                                    <span class="sub-title">トップページ</span>
                              <% end %>
                          </li>
                        <% end %>
                <li class="mobile-menu__item">
                     <%= link_to best_tweets_path, class:"link-dec" do%>
                        <span class="main-title">BestTweet</span>
                        <span class="sub-title">人気の投稿</span>
                     <% end %>
                </li>
                <li class="mobile-menu__item">
                    <%= link_to list_tweets_path, class:"link-dec" do%>
                        <span class="main-title">Latest Tweet</span>
                        <span class="sub-title">最新の投稿</span>
                    <% end %>
                </li>
              <% if user_signed_in?  %> 
                <li class="mobile-menu__item">
                    <%= link_to new_tweet_path, class:"link-dec" do%>
                      <span class="main-title">New Post</span>
                      <span class="sub-title">新規投稿</span>
                    <% end %>
                </li>
                 <% end %>
                  </ul>
                </nav>
            </div>
   
  </div>
  <%= javascript_pack_tag 'mobile.js' %>
</body> 
 
    

</html>
