<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'log_in.css' %>
  <% end %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div id="global-container">
      <div id="container">
          <div class="mobile-menu__cover"></div>
            <header class="header-menu">
               <div class="header_left">
                  <%=link_to root_path,class:"app-title" do%>
                  <% end %>
               </div>
               <div class="header-right">
                  <div class="header-link">
                      <% if user_signed_in? %>
                          <%= link_to destroy_user_session_path, method: :delete do %>
                          <span>Log Out</span>
                          <% end %>
                          <%= link_to root_path   do %>
                          <span>Top Page</span>
                          <% end %>
                    <% else %>
                        <%= link_to   root_path do %>
                          <span>Top Page</span>
                          <% end %>
                          <%= link_to  new_user_registration_path do %>
                          <span>Sign Up</span>
                          <% end %>
                   <% end %>   
                  </div>
                
                  <button class="mobile-menu__btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
               </div>
            </header>
          <div class="top-wrapper">
              <div class='login-flash-message'>
                <%= flash[:notice] %>
                <%= flash[:alert] %>
              </div>
             <span class="form-title1">Log</span>
             <span class="form-title2">in</span>          
             <div class="login-form">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field-email">
                      <%= f.email_field :email, autofocus: "true", autocomplete: "off",class:"email-form",placeholder:"email" %>
                    </div> 
                    <div class="field-password">
                      <%= f.password_field :password, autocomplete: "current-password",placeholder:"password",class:"password-form" %>
                    </div>

                    <!--<% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %>-->

                    <div class="actions">
                      <%= f.label "log in" ,for:"form-submit",class:"submit-label" %>
                      <%= f.submit "Log in",id:"form-submit", class:"submit-btn" %>
                    </div>
                 <% end %>
              </div>
              <div class="top-img"></div>
            </div> 
       </div>
           <div>
             <nav class="mobile-menu">
                <ul class="mobile-menu__main">
                     <% if user_signed_in? %> 
                          <li class="mobile-menu__item">
                          <%= link_to user_path(current_user), class:"link-dec" do%>
                              <span class="main-title">My Page</span>
                              <span class="sub-title">マイページ</span>
                          <% end %>
                          </li>
                        <% else %>
                          <li class="mobile-menu__item">
                          <%= link_to root_path, class:"link-dec" do%>
                              <span class="main-title">Top Page</span>
                              <span class="sub-title">トップページ</span>
                          <% end %>
                          </li>
                      <% end %>
                    <li class="mobile-menu__item">
                        <%= link_to best_tweets_path, class:"link-dec" do%>
                            <span class="main-title">BestTweet</span>
                            <span class="sub-title">人気の投稿</span>
                        <% end %>
                    </li>
                    <li class="mobile-menu__item">
                        <%= link_to list_tweets_path, class:"link-dec" do%>
                            <span class="main-title">Latest Tweet</span>
                            <span class="sub-title">最新の投稿</span>
                        <% end %>
                    </li>
                    <% if user_signed_in?  %> 
                      <li class="mobile-menu__item">
                          <%= link_to new_tweet_path, class:"link-dec" do%>
                            <span class="main-title">New Post</span>
                            <span class="sub-title">新規投稿</span>
                          <% end %>
                      </li>
                    <% end %>
                </ul>
              </nav>
           </div>
    
  </div>
  <%= javascript_pack_tag 'mobile.js' %>
</body>  

</html>
